

a {
    text-decoration: none;
}

.row-heading {
    font-weight: 500;
    font-size: .7em;
    text-transform: uppercase
}

.timetable .time-label {
    font-size: .8em;
    font-weight: 500
}

.timetable .time-entry{
    text-align: center;
    text-decoration: none;
}

.timetable .time-entry small {
    pointer-events: none;
    font-size: 120%;
    font-weight: 600;
}

.timetable .time-entry.empty {
    background-color: #9bf2a1;
    border: 1px solid #333;
    color: #333;
}

.timetable .time-entry.empty:hover {
    background-color: #e2eee4
}

.timetable .time-entry.selected {
    background-color: #e2eee4;
    border: 1px solid black;
    color: black;
}

.timetable .time-entry.booked {
    background-color: #f03f3f;
    border: 1px solid #333;
    color: black;
}


